<div class="mt-3">
  <h1 class="text-dark">Renk</h1>
  <select
    [(ngModel)]="selectedColorId"
    class="form-select"
    aria-label="Default select example"
  >
    <option *ngFor="let color of colors" value="{{ color.colorId }}">
      {{ color.colorName }}
    </option>
  </select>

  <button
    type="button"
    class="btn btn-success mt-3"
    routerLink="/cars/color/{{ selectedColorId }}"
  >
    Filtrele
  </button>
  <button type="button" class="btn btn-light mt-3 ms-3" routerLink="/">
    Filtre Temizle
  </button>
</div>
