<div class="container w-50 float-start">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngIf="carDetails[0]" class="carousel-item active">
        <img src="{{carImageBasePath}}{{carDetails[0].imagePath}}" class="d-block w-100" alt="...">
      </div>
      <div *ngIf="carDetails[1]" class="carousel-item">
        <img src="{{carImageBasePath}}{{carDetails[1].imagePath}}" class="d-block w-100" alt="...">
      </div>
      <div *ngIf="carDetails[2]" class="carousel-item">
        <img src="{{carImageBasePath}}{{carDetails[2].imagePath}}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
    <div class="card text-light bg-dark mb-12" style="width: 30rem;">
    <div class="card-body">
      <h1 *ngIf="carDetails[0]" class="card-title">{{carDetails[0].description}}</h1>
    </div>
    <ul *ngIf="carDetails[0]" class="list-group list-group-flush">
      <li class="list-group-item list-group-item-dark">Marka: {{carDetails[0].brandName}}</li>
      <li class="list-group-item list-group-item-dark">Renk: {{carDetails[0].colorName}}</li>
      <li class="list-group-item list-group-item-dark">Günlük Ücret: {{carDetails[0].dailyPrice}}</li>
      <li class="list-group-item list-group-item-dark">Model Yılı: {{carDetails[0].modelYear}}</li>
      <button type="button" routerLink="/cars/rent-add/{{carDetails[0].carId}}" (click)="addToCart(carDetails[0])" class="btn btn-success">Kirala</button>
    </ul>
  </div>
  