<footer class="container-fluid bg-dark position-relative px-5">
    <div class="row p-4">
      <div class="col">
        <h1 class="fs-3 fw-light text-light">ReCap Car Rental</h1>
      </div>
  
      <div
        id="links"
        class="col d-flex justify-content-center align-items-center"
      >
        <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
          Hakkımızda
        </a>
        <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
          İletişim
        </a>
        <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
          Yardım Merkezi
        </a>
        <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
          Teklifler
        </a>
      </div>
      <div
        id="social-medias"
        class="col d-flex justify-content-center align-items-center"
      >
        <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <p id="credit" class="text-muted link m-0">
        by
        <a
          href="https://www.linkedin.com/in/cihan-içelliler/"
          target="_blank"
          class="link-secondary text-decoration-none"
          >Cihan İçelliler LinkedIn</a
        >
      </p>
    </div>
  </footer>