<div class="container w-50 float-start">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div *ngIf="carDetails[0]" class="carousel-item active">
        <img
          src="{{ carImageBasePath }}{{ carDetails[0].imagePath }}"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div *ngIf="carDetails[1]" class="carousel-item">
        <img
          src="{{ carImageBasePath }}{{ carDetails[1].imagePath }}"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div *ngIf="carDetails[2]" class="carousel-item">
        <img
          src="{{ carImageBasePath }}{{ carDetails[2].imagePath }}"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="card text-light bg-dark mb-12" style="width: 40rem; margin:auto;">
  <div class="card-body">
    <h1 *ngIf="carDetails[0]" class="card-title text-center">
      {{ carDetails[0].description }}
    </h1>
  </div>
  <ul *ngIf="carDetails[0]" class="list-group list-group-flush">
    <li class="list-group-item list-group-item-dark mb-1">
      <b>Marka:</b> {{ carDetails[0].brandName }}
    </li>
    <li class="list-group-item list-group-item-dark mb-1">
      <b>Renk: </b>{{ carDetails[0].colorName }}
    </li>
    <li class="list-group-item list-group-item-dark mb-1">
      <b>Günlük Ücret: </b>{{ carDetails[0].dailyPrice | currency: "₺" }}
    </li>
    <li class="list-group-item list-group-item-dark mb-1">
      <b>Aylık Ücret: </b>{{ carDetails[0].dailyPrice | vatAdded | currency: "₺" }}
    </li>
    <li class="list-group-item list-group-item-dark mb-1">
      <b>Model Yılı: </b>{{ carDetails[0].modelYear }}
    </li>
    <li class="list-group-item list-group-item-dark mb-1">
      <b>Findeks Puanı: </b>{{ carDetails[0].findexPoint }}
    </li>
  </ul>
</div>

<div class="bg-light col-12 col-xl-12 rounded-1 shadow my-5 my-xl-0 p-3 ps-4">
  <form class="row" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="col-md form-group">
      <label for="customerId" class="form-group text-dark"
        >Müşteri Numarası:</label
      >
      <div class="example-container mt-2">
        <mat-form-field appearance="fill">
          <mat-label>Müşteri Numarası</mat-label>
          <input
            class="form-control"
            matInput
            [(ngModel)]="customerId"
            name="customerId"
            placeholder="Müşteri Numarası Giriniz"
            matInput
          />
        </mat-form-field>
      </div>
    </div>
    <br /><br />
    <div class="col-md form-group">
      <label for="pick-up-date-input" class="form-label text-dark"
        >Kiralama Tarihi:</label
      >
      <div class="example-container">
        <mat-form-field color="warn" appearance="fill">
          <input
            class="form-control"
            matInput
            [(ngModel)]="date"
            [matDatepicker]="picker"
            name="date"
            placeholder="Tarih seçiniz"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md form-group">
      <label for="return-date-input" class="form-label text-dark"
        >Geri Verme Tarihi:</label
      >
      <div class="example-container">
        <mat-form-field color="warn" appearance="fill">
          <input
            class="form-control"
            matInput
            [(ngModel)]="returnDate"
            [matDatepicker]="picker2"
            name="returnDate"
            placeholder="Tarih seçiniz"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <button type="submit" class="col-12 btn btn-success rounded-2">
      Kirala
    </button>
  </form>
</div>
