<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-secondary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label"><b>Araba ara</b></label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Arama ifadesi giriniz"
  />
</div>
<div *ngIf="filterText.length > 2" class="alert alert-success">
  {{ filterText }} aradınız
</div>

<table *ngIf="dataLoaded == true" class="table table-dark">
  <thead>
    <tr>
      <th>Id</th>
      <th>Marka</th>
      <th>Renk</th>
      <th>Model Yılı</th>
      <th>Günlük Ücret</th>
      <th>Aylık Ücret</th>
      <th>Araba Açıklaması</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let car of cars | carFilterPipe: filterText"
    >
      <td routerLink="/cars/detail/{{ car.id }}">{{ car.id }}</td>
      <td routerLink="/cars/detail/{{ car.id }}">{{ car.brandId }}</td>
      <td routerLink="/cars/detail/{{ car.id }}">{{ car.colorId }}</td>
      <td routerLink="/cars/detail/{{ car.id }}">{{ car.modelYear }}</td>
      <td routerLink="/cars/detail/{{ car.id }}">{{ car.dailyPrice | currency }}</td>
      <td routerLink="/cars/detail/{{ car.id }}">{{ car.dailyPrice | vatAdded | currency }}</td>
      <td routerLink="/cars/detail/{{ car.id }}">{{ car.descriptionCar }}</td>
    </tr>
  </tbody>
</table>
